.DS_Store
/application/config/database.php
/application/config/config.php
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
.idea/*

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

static/user/Slam_Dunk_16_0532.jpg
static/user/Slam_Dunk_16_0531.jpg
